

alias crc-creds='echo "crc console --credentials" && crc console --credentials'

# Escaping a single quote in an alias: '"'"'
alias oc-login-dev-creds='crc console --credentials | sed -n "s/.*run '"'"'\(.*\)'"'"'.*/\1/p" | head -n1'
alias oc-login-adm-creds='crc console --credentials | sed -n "s/.*run '"'"'\(.*\)'"'"'.*/\1/p" | tail -n1'

alias oc-login-dev='$(oc-login-dev-creds)'
alias oc-login-adm='$(oc-login-adm-creds)'

alias oc-docker='echo default-route-openshift-image-registry.apps-crc.testing'
alias oc-docker-image-ls='docker image ls $(oc-docker)'

alias oc-docker-login='docker login -u $(oc whoami) -p $(oc whoami -t) $(oc-docker)'

alias crc-start='crc start && oc-login-dev && oc status && oc-docker-login'